{% extends 'base.html' %}

{% block title %}
  {{super()}}
  Signup
{% endblock %}

{% block content %}
<div class="container w-50 p-5"> 
    <h1 class="p-4 h1">Register a new account</h1>
    <form action="{{url_for('auth.signup')}}" method="POST">
      <div class="form-group">
        {{signup_form.username.label}}
        {{signup_form.username(class="form-control")}}
      </div>
      <div class="form-group">
        {{signup_form.email.label}}
        {{signup_form.email(class="form-control", type="email")}}
      </div>
      <div class="form-group">
        {{signup_form.password.label}}
        {{signup_form.password(class="form-control", type="password")}}
      </div>
      <div class="form-group">
        {{signup_form.submit(class="btn btn-primary btn-block" , type="submit")}}
      </div>
    </form>
  </div>
{% endblock %}