<footer class="page-footer font-small teal pt-4 bg-primary footer fixed-bottom">

    <div class="container-fluid text-center">
        <a href="https://github.com/Diego-MV" target="_blank" class="mr-2 pt-0 mt-0">
            <img src="{{ url_for('static' , filename='images/github2.png') }}" class="width="30px" height="30px" loading="lazy" alt="Github">
        </a>
        <a href="https://www.instagram.com/diegomv.13" target="_blank" class="ml-2 pt-0 mt-0">
            <img src="{{ url_for('static' , filename='images/instagram2.png') }}" class="width="60px" height="60px" loading="lazy" alt="Instagram">
        </a>
    </div>
    
    <div class="footer-copyright text-center py-3 ml-auto">© 2020 Copyright:
      <a href="https://mdbootstrap.com/" class="text-secondary"> MDBootstrap.com</a>
    </div>
  </footer>
