{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
  {{super()}}
  Welcome
{% endblock %}

{% block content%}

  {% if username %}
    <div class="container p-4">
      <h1 class="d-flex justify-content-center">Welcome {{username | capitalize}} !😃</h1>
    </div>
  {% endif %}
  
<div class="container w-75">
  <h3 class="d-flex justify-content-center">Your task are</h3>
  <table class="table table-striped">
    <thead class="bg-primary">
      <tr>
        <th scope="col" class="text-secondary">#</th>
        <th scope="col" class="text-secondary">Task</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        {{ macros.render_todo(todo, loop.index)}}
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
